<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>SS-Link SS账号 距您最快的节点</title>
<meta name="keywords" content="SS账号,Shadowsocks账号" />
<meta name="description" content="SS-Link专业提供SS账号（Shadowsocks账号）" />
   
    <link rel="icon" href="__PUBLIC__/img/favicon.ico.png" >
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/jumbotron-narrow.css"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script>
      <script src="../oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script>
    <![endif]-->

    <link href="__PUBLIC__/jqueryui/jquery-ui.css"  rel="stylesheet">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../hm.baidu.com/hm.js-c010d8c64151fdb7de20b95b413127e3.js"/*tpa=https://hm.baidu.com/hm.js?c010d8c64151fdb7de20b95b413127e3*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>

<body>
<div class="container">
<div class="header clearfix">
<nav>
    <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="{:U('/'), '', ''}" >Home</a></li>
    <li><a href="register.htm" >注册</a></li>
    <li><a href="login.htm" >登录</a></li>
    </ul>

</nav>
<h3 class="text-muted"><a href="{:U('/'), '', ''}" >SS-Link SS账号</a></h3>
</div>



<h3>距您最快的节点</h3>
<p>经本页面测试，下面的节点列表越靠上的节点到您的速度越快。测试原理是浏览器向所有节点发出一个HTTP请求，加载一个50KB大小的图片，图片加载完毕后，统计时间，比较出最快的节点。由于浏览器Javascript的限制，无法统计出丢包的情况，建议您多<a href="#" onclick="window.location.reload()">刷新几次页面</a>看结果。</p>
<p>网页测试的好处是跨平台，手机上可以用，但是可能有时不准确，没关系，我们也有基于ping的测试小软件，见<a href="javascript:if(confirm(%27https://blog.ssjiasu.xyz/archives/208  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://blog.ssjiasu.xyz/archives/208%27" >这里</a>。
<p>找出最快的节点后，请登录本网站，在后台把您的SS账号切换到这个节点，改善上网速度。</p>



<table id="rtable" class="table .table-condensed table-bordered">
        <tr><td>线路</td><td>节点</td><td>耗时(秒)</td></tr>     
</table>




      <footer class="footer">
          <p>
          
      &copy; 2015 
          新浪微博 @SS加速
          QQ群 391191368
          Email info@raslab.com 
          <a href="javascript:if(confirm(%27https://gfw88.xyz/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://gfw88.xyz/%27" >博客</a>
          </p>
        
      </footer>





</div> <!-- /container -->

<script>
var ips=[
"8.8.8.8"
            ,
    "https://www.ssjiasu.xyz/45.35.71.119"
            ,
    "https://www.ssjiasu.xyz/45.35.75.57"
            ,
    "https://www.ssjiasu.xyz/104.250.147.22"
            ,
    "https://www.ssjiasu.xyz/173.252.220.201"
            ,
    "https://www.ssjiasu.xyz/104.250.144.10"
            ,
    "https://www.ssjiasu.xyz/104.250.143.243"
            ,
    "https://www.ssjiasu.xyz/104.250.146.37"
            ,
    "https://www.ssjiasu.xyz/104.250.146.212"
            ,
    "https://www.ssjiasu.xyz/76.164.224.102"
            ,
    "https://www.ssjiasu.xyz/46.249.56.39"
            ,
    "https://www.ssjiasu.xyz/46.249.56.50"
            ,
    "https://www.ssjiasu.xyz/104.217.54.145"
];
var routes=[
"8.8.8.8"
            ,
    "美国洛杉矶PS线路"
            ,
    "美国洛杉矶PS线路"
            ,
    "美国洛杉矶GR线路"
            ,
    "美国硅谷T2线路"
            ,
    "美国洛杉矶GR线路"
            ,
    "美国洛杉矶GR线路"
            ,
    "美国洛杉矶GR线路"
            ,
    "美国洛杉矶GR线路"
            ,
    "美国拉斯维加斯VW线路"
            ,
    "欧洲荷兰线路"
            ,
    "欧洲荷兰线路"
            ,
    "美国洛杉矶PS线路"
];


</script>
<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/ping.js"  type="text/javascript"></script>
<script src="__PUBLIC__/js/speedtest2.js" ></script>
</body>
</html>

