
    <footer class="footer">
          <p>
          
      &copy; 2015 
          新浪微博 @SS加速
          QQ群 391191368
          Email info@raslab.com 
          <a href="javascript:if(confirm(%27https://gfw88.xyz/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://gfw88.xyz/%27" >博客</a>
          </p>
        
      </footer>




    </div> <!-- /container -->



  </body>
</html>