<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="SS账号,Shadowsocks账号" />
<meta name="description" content="SS-Link专业提供SS账号（Shadowsocks账号）" />
<title>SS-Link SS账号</title>
   
    <link rel="icon" href="__PUBLIC__/img/favicon.ico.png" >
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/jumbotron-narrow.css"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script>
      <script src="../oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script>
    <![endif]-->

    <link href="__PUBLIC__/jqueryui/jquery-ui.css"  rel="stylesheet">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../hm.baidu.com/hm.js-c010d8c64151fdb7de20b95b413127e3.js"/*tpa=https://hm.baidu.com/hm.js?c010d8c64151fdb7de20b95b413127e3*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>



</head>

<body>

<div class="container">
<div class="header clearfix">
<nav>
    <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="index.htm" >Home</a></li>
    <li><a href="register.htm" >注册</a></li>
    <li><a href="login.htm" >登录</a></li>
    </ul>

</nav>
<h3 class="text-muted"><a href="index.htm" >SS-Link SS账号</a></h3>
</div>



                        <form class="form-inline" id="f_lr">
                                <fieldset>
                                <legend>密码重置</legend>
                                <p>如果您忘记了密码，请在下面输入邮件地址，然后我们会把重置密码的方法发邮件给您</p>
                                <div class="control-group">
                                        <label class="control-label" for="email">E-Mail:</label>
                                        <div class="controls">
                                                <input type="text" class="input-xlarge" placeholder="请在这里输入您的邮箱" value="" id="email">
                                                <button type="button" class="btn btn-primary" id="sm_pwd">发送</button>
                                        </div>
                                </div>
                                </fieldset>
                        </form>

      <hr>
      <footer>
        <p class="pull-right" >&copy; 2012 The SS-Link Team</p>
      </footer>
</div> <!-- /container -->

<div class="modal fade" id="smtx" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>提醒</h3>
            </div>
            <div class="modal-body alert-success">
                <p>邮件发送成功！请去邮箱重置密码</p>
            </div>
            <div class="modal-footer">
                <a href="login.htm"  class="btn btn-success">确定</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/jquery.validate.min.js" ></script>
<script src="__PUBLIC__/js/jquery.md5.js" ></script>
<script src="__PUBLIC__/js/jquery.blockUI.min.js" ></script>
<script src="__PUBLIC__/js/bootstrap.min.js" ></script>

<script src="__PUBLIC__/js/forgot.js" ></script>
</body>
</html>

