<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="keywords" content="Shadowsocks,SS账号" />
        <meta name="description" content="免费和专业的Shadowsocks账号(SS账号)" />
    <title>专业提供Shadowsocks账号(SS账号),仅需7元/月</title>
           
    <link rel="icon" href="__PUBLIC__/img/favicon.ico.png" >
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/jumbotron-narrow.css"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script>
      <script src="../oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script>
    <![endif]-->

    <link href="__PUBLIC__/jqueryui/jquery-ui.css"  rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/jquery.validate.min.js" ></script>
<script src="__PUBLIC__/js/jquery.md5.js" ></script>
<script src="__PUBLIC__/js/jquery.blockUI.min.js" ></script>
<script src="__PUBLIC__/js/bootstrap.min.js" ></script>
<script src="__PUBLIC__/js/common.js" ></script>

</head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{:U('/', '', '')}">Home</a></li>
                        <li role="presentation"><a href="{:U('UserCenter/index', '', '')}" >用户中心</a></li>
                        <li role="presentation"><a href="{:U('Index/download', '', '')}" >软件下载</a></li>
                        <li role="presentation"><a href="{:U('Index/study', '', '')}" >教程</a></li>
          </ul>
    </nav>