<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="keywords" content="Shadowsocks,SS账号" />
        <meta name="description" content="免费和专业的Shadowsocks账号(SS账号)" />
    <title>专业提供Shadowsocks账号(SS账号),仅需7元/月</title>
           
    <link rel="icon" href="__PUBLIC__/img/favicon.ico.png" >
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/jumbotron-narrow.css"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script>
      <script src="../oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script>
    <![endif]-->

    <link href="__PUBLIC__/jqueryui/jquery-ui.css"  rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/jquery.validate.min.js" ></script>
<script src="__PUBLIC__/js/jquery.md5.js" ></script>
<script src="__PUBLIC__/js/jquery.blockUI.min.js" ></script>
<script src="__PUBLIC__/js/bootstrap.min.js" ></script>
<script src="__PUBLIC__/js/common.js" ></script>
<script src="__PUBLIC__/js/index.js" ></script>

</head>

  <body>
    <div class="container">
      <div class="header clearfix">
  <switch name="headermode">
      <case value="index">
        <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation"><a href="{:U('/', '', '')}">Home</a></li>
              <li role="presentation"><a href="{:U('UserCenter/index', '', '')}" >用户中心</a></li>
              <li role="presentation"><a href="{:U('Index/download', '', '')}" >软件下载</a></li>
              <li role="presentation"><a href="{:U('Index/study', '', '')}" >教程</a></li>
            </ul>
        </nav>
      </case>

      <case value="usercenter">

        <!-- 登录过后 用户中心 -->
        <nav>
                <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="{:U('/','','')}">Home</a></li>
                <li><a href="{:U('UserCenter/cart', '', '')}"><i class="icon-shopping-cart icon-white"></i> 购物车</a></li>
                <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-home icon-white"></i> 我的账户<b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                                <li><a href="{:U('UserCenter/index', '', '')}"><i class="icon-home"></i> 账户概览</a></li>
                                <li><a href="{:U('UserCenter/order', '', '')}"><i class="icon-file"></i> 我的订单</a></li>
                                <li><a href="{:U('UserCenter/account', '', '')}"><i class="icon-bookmark"></i> 我的SS账号</a></li>
                                <li><a href="{:U('UserCenter/money', '', '')}"><i class="icon-road"></i> 财务记录</a></li>
                                <li><a href="{:U('UserCenter/recharge', '', '')}"><i class="icon-upload"></i> 账户充值</a></li>
                                <li><a href="{:U('UserCenter/changepwd', '', '')}"><i class="icon-lock"></i> 修改密码</a></li>
                                <li><a href="{:U('Login/logout', '', '')}"><i class="icon-eject"></i> 退出</a></li>
                        </ul>
                </li>

                </ul>
            </nav>
            <h3 class="text-muted"><a href="https://www.ssjiasu.xyz/">SS-Link SS账号</a></h3>
            </div>


            <div class="btn-group">
                    <a href="{:U('UserCenter/index', '', '')}" class="btn">概览</a>
                    <a href="{:U('UserCenter/orders', '', '')}" class="btn">订单</a>
                    <a href="{:U('UserCenter/account', '', '')}" class="btn">SS账号</a>
                    <a href="{:U('UserCenter/money', '', '')}" class="btn">财务</a>
                    <a href="{:U('UserCenter/recharge', '', '')}" class="btn">充值</a>
                    <a href="{:U('UserCenter/problem', '', '')}" class="btn">问题</a>
                    <a href="{:U('UserCenter/changepwd', '', '')}" class="btn">修改密码</a>
                    <a href="{:U('Login/logout', '', '')}" class="btn">退出</a>
            </div>
      </case>

     <!--  游客 -->
      <case value="guide">
        <nav>
            <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{:U('/', '', '')}" >Home</a></li>
            <li><a href="{:U('Login/register', '', '')}" >注册</a></li>
            <li><a href="{:U('Login/login', '', '')}" >登录</a></li>
            </ul>
        </nav>
      </case>
  </switch>
