<include file="./Apps/Home/View/header.html" />



<h3 class="text-muted"><a href="index.htm" >SS-Link SS账号</a></h3>
</div>


<div class="hero-unit">
        <h2>欢迎选购SS账号(Shadowsocks账号)</h2>
        <p>
        提供多个线路的Shadowsocks账号，<a href="trial.htm" >购买之前可以先试用</a>，购买之后不支持退款。
        </p>
        <p>
        现在有美国，欧洲，日本，新加坡线路，购买SS账号后可以自由切换，不限次数，总有一条线路适合您！
        </p>
<div class="row">
        <div class="col-md-3 col-md-offset-3">
        <a data="1" id="buy" class="btn btn-success btnOrder"> <i class="icon-shopping-cart icon-white"></i> 购买年付(70元/年)</a>
        </div>

        <div class="col-md-3 ">
        <a data="2" id="buy"  class="btn btn-success btnOrderMonth"> <i class="icon-shopping-cart icon-white"></i> 购买月付(7元/月)</a>
        </div>
</div>



        <p>支持月付，7元/月，70元/年</p>
        <p>怎样选择购买哪个线路呢？答案如下：</p>
        <ol>
        <li>如果您是土豪，可以每个线路购买一个SS账号，都配置到客户端上，当一个线路出问题可以自动切换到别的节点上去。</li>
        <li>如果您不差钱，至少购买两个SS账号，这两个SS账号分布的不同的线路上。</li>
        <li>如果您懂网络，知道什么是网络延迟，什么是ping，则可以选择一个距离您延迟最小的线路。</li>
        <li>如果您不懂网络，也没关系，任意选择一个线路购买。购买后可以无限次随意切换线路，不用怕买错了。 </li>
    </ol>


<table class="table table-bordered" >
<thead>
<tr>
<th>线路</th>
<th>测试IP</th>
<th width="120px"> </th>
</tr>
</thead>                
<tbody>

    <tr>
            <td>美国硅谷T2线路 </td> 
            <td>204.74.208.2</td> 
            <td>
            <a data="美国硅谷T2线路" class="btn btn-success btnOrder"> <i class="icon-shopping-cart icon-white"></i> 购买年付</a>
            <a data="美国硅谷T2线路" class="btn btn-success btnOrderMonth"> <i class="icon-shopping-cart icon-white"></i> 购买月付</a>
            </td>
    </tr>
   
</tbody>
</table>



<p />

</div>

<include file="./Apps/Home/View/footer.html" />
