<include file="./Apps/Home/View/header.html" />


<h3 class="text-muted"><a href="index.htm" >SS-Link SS账号</a></h3>
</div>


        <h3>免费试用</h3>

        <p>
        购买之前可以先免费试用，购买之后不支持退款，试用时间从申请开始到第二天凌晨1点。
        </p>

<p>
试用的流程如下：
</p>

<ol>
<li>先在网站上注册一个用户，能登录<a href="login-redirect=-my&a=1-1.htm" >用户中心</a> </li>
<li>在<a href="index.htm" >网站首页</a>，点击“购买SS账号”按钮 </li>
<li>选择自己要购买的产品和付款周期，如果不知道怎么选择，随便选择任意一个即可 </li>
<li>在<a href="login-redirect=-my-cart-1.htm" >购物车页面</a>点击“去结算”按钮，在接下来的对话框点击确定 </li>
<li>进入<a href="login-redirect=-my-hostings-1.htm" >我的SS账号页面</a>，点击"开通"按钮 </li>
<li>您的SS账号应该就开通了，账号信息会在页面中显示出来，同时也会发生Email给您。如果您没有付款，这个账号将在第二天凌晨1点失效。 </li>
<li>有问题请发Email给我们 info@raslab.com </li>
</ol>




      <footer class="footer">
          <p>
          
      &copy; 2015 
          新浪微博 @SS加速
          QQ群 391191368
          Email info@raslab.com 
          <a href="javascript:if(confirm(%27https://gfw88.xyz/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://gfw88.xyz/%27" >博客</a>
          </p>
        
      </footer>





</div> <!-- /container -->

<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/bootstrap.min.js" ></script>
</body>
</html>

