<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="keywords" content="Shadowsocks,SS账号" />
        <meta name="description" content="免费和专业的Shadowsocks账号(SS账号)" />
    <title>专业提供Shadowsocks账号(SS账号),仅需7元/月</title>
           
    <link rel="icon" href="__PUBLIC__/img/favicon.ico.png" >
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/jumbotron-narrow.css"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script>
      <script src="../oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script>
    <![endif]-->

    <link href="__PUBLIC__/jqueryui/jquery-ui.css"  rel="stylesheet">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "../hm.baidu.com/hm.js-c010d8c64151fdb7de20b95b413127e3.js"/*tpa=https://hm.baidu.com/hm.js?c010d8c64151fdb7de20b95b413127e3*/;
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>



  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Home</a></li>
                        <li role="presentation"><a href="login-redirect=-my&a=1-1.htm" >用户中心</a></li>
                        <li role="presentation"><a href="javascript:if(confirm(%27https://gfw88.xyz/dl/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://gfw88.xyz/dl/%27" >软件下载</a></li>
                        <li role="presentation"><a href="javascript:if(confirm(%27https://gfw88.xyz/archives/23  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://gfw88.xyz/archives/23%27" >教程</a></li>
          </ul>
        </nav>
                <h3 class="text-muted"><a href="index.htm" >SS账号</a></h3>
      </div>
      <div class="jumbotron">
        <h2>专业提供Shadowsocks账号</h2>


            <p>北美/欧洲/亚洲(日本新加坡)多条国际线路随意切换，不限次数，总有一条线路适合您！</p>
                <p>7元/月，70元/年，不限流量，支持UDP转发，仅供一人使用。</p>
                <p>
                <a href="trial.htm"  class="btn btn-success" target="_blank">免费试用</a>
                <a class="btn btn-warning " href="buy.htm" >购买SS账号</a>
                <a href="javascript:if(confirm(%27https://blog.ssjiasu.xyz/archives/23  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://blog.ssjiasu.xyz/archives/23%27"  class="btn btn-danger " target="_blank">使用方法</a>
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
            <h4>支持免费试用</h4>
                        <p>担心我们的质量？在购买前可以<a href="trial.htm" >免费试用一天</a></p>
                    <h4>容易部署</h4>
                <p>安装配置很简单，无需专业知识即可使用。</p>

            <h4>全球线路随意切换</h4>
            <p>有美国/荷兰/日本/新加坡线路，可以随意无限制免费切换线路</p>

        </div>

        <div class="col-lg-6">
            <h4>价格实惠</h4>
                    <p>月付7元，年付70元。</p>
                    <h4>充足的网络带宽</h4>
                <p>每个节点都是100M独享带宽，<a href="javascript:if(confirm(%27https://master.ssjiasu.xyz/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://master.ssjiasu.xyz/%27" >节点带宽监控公开</a></p>

                        <h4>各种节点测试工具</h4>
                        <p>Shadowsocks节点哪个距您最快？我们有<a href="best.htm" >基于网页的测试</a>(手机浏览器可用)和<a href="javascript:if(confirm(%27https://blog.ssjiasu.xyz/archives/208  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://blog.ssjiasu.xyz/archives/208%27" >基于ping的小工具</a>帮您</p>
        </div>
      </div>

        <!--
         <div class="alert alert-warning alert-dismissible fade in" role="alert"> 
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> 
                 <strong>敬告客户！</strong> 
         </div>
        -->


      <footer class="footer">
          <p>
          
      &copy; 2015 
          新浪微博 @SS加速
          QQ群 391191368
          Email info@raslab.com 
          <a href="javascript:if(confirm(%27https://gfw88.xyz/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://gfw88.xyz/%27" >博客</a>
          </p>
        
      </footer>




    </div> <!-- /container -->


<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/bootstrap.min.js" ></script>
  </body>
</html>

