<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>SS-Link SS账号</title>
<meta name="keywords" content="SS账号,Shadowsocks账号" />
<meta name="description" content="SS-Link专业提供SS账号（Shadowsocks账号）" />
   
    <link rel="icon" href="__PUBLIC__/img/favicon.ico.png" >
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/jumbotron-narrow.css"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script>
      <script src="../oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script>
    <![endif]-->

    <link href="__PUBLIC__/jqueryui/jquery-ui.css"  rel="stylesheet">

<script>
// var _hmt = _hmt || [];
// (function() {
//   var hm = document.createElement("script");
//   hm.src = "../hm.baidu.com/hm.js-c010d8c64151fdb7de20b95b413127e3.js"tpa=https://hm.baidu.com/hm.js?c010d8c64151fdb7de20b95b413127e3;
//   var s = document.getElementsByTagName("script")[0]; 
//   s.parentNode.insertBefore(hm, s);
// })();
</script>
<script src="__PUBLIC__/js/jquery.min.js" ></script>
<script src="__PUBLIC__/js/jquery.validate.min.js" ></script>
<script src="__PUBLIC__/js/jquery.md5.js" ></script>
<script src="__PUBLIC__/js/jquery.blockUI.min.js" ></script>
<script src="__PUBLIC__/js/bootstrap.min.js" ></script>
<script src="__PUBLIC__/js/common.js" ></script>


</head>

<body>


<div class="container">
<div class="header clearfix">
<nav>
    <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="{:U('/', '', '')}" >Home</a></li>
    <li><a href="{:U('Login/register', '', '')}" >注册</a></li>
    <li><a href="{:U('Login/login', '', '')}" >登录</a></li>
    </ul>

</nav>