<include file="./Apps/Home/View/header.html" />

<h3 class="text-muted"><a href="index.htm" >SS-Link SS账号</a></h3>
</div>
<script type="text/javascript">
  var registerUrl = "{:U('Login/register', '', '')}";
  var LoginUrl = "{:U('Login/login', '', '')}";
</script>

<script src="__PUBLIC__/js/register.js" ></script>

<form class="form-horizontal" id="frmRegister" >
                                <fieldset>
                                <legend>新用户注册</legend>
                                <div class="control-group">
                                          <label class="control-label" for="email">Email </label>
                          <div class="controls">
                                  <input type="text" class="input-large" value="" id="email" name="email">
                                  <span class="help-inline"></span>
                          </div>
                          <label class="control-label" for="password">您的密码</label>
                          <div class="controls">
                                  <input type="password" class="input-small" id="password" name="password">
                                  <span class="help-inline"></span>
                          </div>
                          <label class="control-label" for="password2">再输一遍密码</label>
                          <div class="controls">
                                  <input type="password" class="input-small" id="password2" name="password2">
                                  <span class="help-block"></span>
                          </div>
                                                  <label class="control-label" for="inviteCode">邀请码(可以不填)</label>
                          <div class="controls">
                                  <input type="text" class="input-small" id="inviteCode" name="inviteCode">
                                  <span class="help-inline"> </span>
                          </div>




                                </div>

                                <div class="form-actions">
                                <br/>
                                        <button type="submit" class="btn btn-primary" id="signup">注册</button>
                                </div>
                                </fieldset>
                        </form>


<br/>
<div id="message" style="display:None">

</div>

<include file="./Apps/Home/View/footer.html" />


