<include file="./Apps/Home/View/header.html" />

<script type="text/javascript">
    var changepwdUrl = "{:U('UserCenter/changepwd', '', '')}";
    var changesspwdUrl = "{:U('UserCenter/changesspwd', '', '')}";
    var LoginUrl = "{:U('Login/login', '', '')}";
    var rechargeUrl = "{:U('UserCenter/recharge', '', '')}";
    var orderUrl = "{:U('UserCenter/orders', '', '')}";
    var accountUrl = "{:U('UserCenter/account', '', '')}";
    var rechangesstUrl = "{:U('UserCenter/rechangess', '', '')}";
</script>

<switch name="centermode">
    <case value="index">
        <h3>账户概览</h3>
        <p>Email: {$username}</p>
        <p>姓名: {$username}</p>
        <p>手机号码: </p>
        <p>账户余额: {$balance} 元</p>
        <p>帐号个数: 0</p>
        <p>享受折扣: 0 % OFF ( 最高 10 % )</p>
        <p>注册时间: 2016-10-20 18:27:48 </p>
    </case>
    <case value="orders">
        <h3>我的订单</h3>
        <p>
        在这里您可以看到自己的历史订单及其状态。
        </p>
        <p>
        您的账户余额是 {$balance} 元。
        </p>
        <strong style="font-size: 16px;">注意：这里是购买一个新账号</strong>，如果你已经有账号了，想续费请在ss账号处点击续费。<p/>
        <p>
        一共有 {$ordernumber} 个订单，最多显示1000个订单。
        </p>
        <table class="table table-bordered table-hover" >
            <thead>
            <tr>
            <th>订单ID</th>
            <th width="150">订单提交时间</th>
            <th width="50">总金额(元)</th>
            <th width="50">状态</th>
            <th >内容</th>
            <th > </th>
            </tr>
            </thead>                
            <tbody>
             <input type="hidden" name="token" value="{:session('token')}">
            <volist name="pay" id="v">
                <tr>
                    <td>{$v.id}</td> 
                    <td>{$v.time|date='Y-m-d H:i:s', ###}</td> 
                    <td>{$v.money}</td> 
                    <td>
                        <if condition="$v.ispay eq 0">
                            <span class="text-warning">未付款</span>
                        <else/>
                            <span class="text-success">已付款</span>
                        </if>
                        
                    </td> 
                    <td>1 个服务，总价 {$v.money} 元</td> 
                    <td>
                    <a orderId="{$v.id}" id="payorder" class="btn btn-primary btnPayOrder"  href="javascript:void(0);">用余额支付</a>
                    <p> </p>
                    <a orderId="{$v.id}" id="delorder" class="btn btn-danger btnCancelOrder" href="javascript:void(0);">取消订单</a>
                    </td> 
                </tr>
            </volist>
            </tbody>
        </table>
    </case>
    <case value="account">
    <h3>我的账号</h3>
    <if condition="$accounts neq null">
        <div id="myacount">
        <table class="table table-bordered table-hover" >
        <input type="hidden" name="token" value="{:session('token')}">      
            <thead>
                <tr>
                <th width="5%">id</th>
                <th width="20%">到期时间</th>
                <th width="10%">端口号</th>
                <th width="20%">密码</th>
                <th width="18%">当月剩余流量</th>
                <th width="18%">加密方式</th>
                <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="accounts" id="v">
                <tr>
                    <td>{$i}</td>
                    <td>{$v.buytime|date='Y-m-d', ###}</td>
                    <td >{$v.port}</td> 
                    <td>{$v.pass}</td>
                    <td>{$v['streamcount']/1024/1024|round=###,2} G</td>
                    <td>{$encrypt}</td>
                    <td>
                    <button orderId="{$v.port}" class="btn btn-primary btn-changesspwd">修改密码</button><p></p>
                    <button class="btn btn-info btnRenew" orderId="{$v.port}" >续时加量</button>
                    </td>
                </tr>
            </volist>
            </tbody>
            </table>
            </div>
            <div id="changesspwds" style="display:none;float:right;">
                <form id="changesspwdform" method="post" class="form-horizontal" action="{:U('UserCenter/changesspwd', '', '')}" />
                <input type="hidden" name="ssport" value="">
                <fieldset>
                    <div class="control-group">
                            <label class="control-label" for="newPassword">新密码</label>
                            <div class="controls">
                                    <input type="password" id="newPassword" name="newPassword" >
                                    <span class="help-inline"></span>
                            </div>
                    </div>

                    <div class="control-group">
                            <label class="control-label" for="newPassword2">确认密码</label>
                            <div class="controls">
                                    <input type="password" id="newPassword2" name="newPassword2" >
                                    <span class="help-inline"></span>
                            </div>
                    </div>
                     <label class="control-label" for="inviteCode">验证码</label>
                    <div class="controls">
                      <input type="text" class="input-small" name="verify" value="">
                      <span class="help-inline"><img id="verifyCode" src="{:U('UserCenter/verity', '', '')}"> </span>
                    </div>

                    <br/>
                    <div class="control-group">
                            <div class="controls">
                                    <button id="btnChsspw" type="button" class="btn btn-primary">确定</button>
                            </div>
                    </div>
                </fieldset>
            </form>
            </div>
        <else />
         <input type="hidden" name="token" value="{:session('token')}">
        <button class="btn btn-primary btnFreeUse"  href="{:U('UserCenter/freeuse', '', '')}">申请免费试用</button>
    </if>
        <h3>服务器地址</h3>
        <table class="table table-bordered table-hover" >
                <thead>
                <tr>
                <th width="10%">id</th>
                <th width="30%">地址</th>
                <th width="10%">系统状态</th>
                </tr>
                </thead>                
                <tbody>
                <volist name="servers" id="v">
                    <tr>
                        <td>{$i}</td> 
                        <td>{$v.domain}</td> 
                        <td>{$v.hoststatus}</td> 
                    </tr>
                </volist>
                </tbody>
        </table>
    </case>
    <case value="money">

        <h3>充值记录</h3>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
            <th width="10%">id</th>
            <th width="30%">充值金额</th>
            <th width="10%">充值时间</th>
            </tr>
            </thead>                
            <tbody>
            <volist name="moneys" id="v">
                <tr>
                    <td>{$i}</td>
                    <td>{$v.money} 元</td>
                    <td>{$v.create_at|date='Y-m-d H:i:s', ###}</td> 
                </tr>
            </volist>
            </tbody>
        </table>
    </case>
    <case value="recharge">
    <div style="margin-left:auto; margin-right:auto;">
        <h3 style="text-align:center; margin-left:auto; margin-right:auto;">充值</h3>
        <div style="float:left; width:50%;">
             点击这里 <strong>充值</strong> 购买卡密, 填入这里即可成功充值。
             <p/>
            <table class="table table-bordered table-hover" style="width:70%">
                <thead>
                <tr>
                <th width="15%">充值金额</th>
                <th width="25%">充值链接</th>
                </tr>
                </thead>                
                <tbody>
                <foreach name="buylink" key="k" item="v">
                    <tr>
                        <td>{$k} 元</td>
                        <td><a href="{$v}" target="_black"><strong>充值</strong></td> 
                    </tr>
                </foreach>
                </tbody>
            </table>

        </div>
        <div>
          
            <form id="rechargeform" method="post" class="form-horizontal" action="{:U('UserCenter/recharge', '', '')}" />
                <input type="hidden" name="token" value="{:session('token')}">
                <fieldset>
                    <div class="control-group">
                    <label class="control-label" for="cardnum">卡号</label>
                    <div class="controls">
                        <input type="text" id="cardnum" name="cardnum" >
                        <span class="help-inline"></span>
                    </div>
                    </div>

                    <div class="control-group">
                            <label class="control-label" for="cardpass">卡密</label>
                            <div class="controls">
                                    <input type="password" id="cardpass" name="cardpass" >
                                    <span class="help-inline"></span>
                            </div>
                    </div>
                    <br/>
                    <div class="control-group">
                            <div class="controls">
                                    <button id="btnrecharge" type="button" class="btn btn-primary">确定</button>
                            </div>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
    </case>
    <case value="problem">
        <div class="control-group" style="font-size:16px">
                <label class="control-label" >如何充值</label>
                <p>
                再充值选项卡中点击你要充值面额对应的链接，
                比如点击到 7 元的充值链接跳转到这个页面：
                <img src="__PUBLIC__/img/pic.jpg">
                </p>
                <p>
                    这里选择你的购买的数量
                </p>
                <img src="__PUBLIC__/img/pic2.jpg">
                <p>
                    确认完毕之后，点击付款，即可扫码付款，
                    付款完成之后，点击查看卡密就会出现卡密
                </p>
                <img src="__PUBLIC__/img/pic3.jpg">
                <p>将这个填入网站充值里面即可成功充值</p>
                <img src="__PUBLIC__/img/pic4.jpg">
                <p>
                    
                    有任何问题请发邮件到f4ngxuan520@gmail.com，我会在最快时间为你解答！
                </p>
        </div>
    </case>
    <case value="changepwd">
        <h3>密码修改</h3>
        <form id="changepwdform" method="post" class="form-horizontal" action="{:U('UserCenter/changepwd', '', '')}" />
            <fieldset>
                <div class="control-group">
                <label class="control-label" for="oldPassword">原密码</label>
                <div class="controls">
                    <input type="password" id="oldPassword" name="oldPassword" >
                    <span class="help-inline"></span>
                </div>
                </div>

                <div class="control-group">
                        <label class="control-label" for="newPassword">新密码</label>
                        <div class="controls">
                                <input type="password" id="newPassword" name="newPassword" >
                                <span class="help-inline"></span>
                        </div>
                </div>

                <div class="control-group">
                        <label class="control-label" for="newPassword2">确认密码</label>
                        <div class="controls">
                                <input type="password" id="newPassword2" name="newPassword2" >
                                <span class="help-inline"></span>
                        </div>
                </div>
                <br/>
                <div class="control-group">
                        <div class="controls">
                                <button id="btnChpw" type="button" class="btn btn-primary">确定</button>
                        </div>
                </div>
            </fieldset>
        </form>
    </case>

</switch>


<br/>
<div id="message" style="display:None">

</div>

<include file="./Apps/Home/View/footer.html" />
